html {
	min-height: 100%;
}

body {
	/*background-color: blue;*/
	background: -webkit-gradient(linear, left top, left bottom, from(#99d6ff), to(#006bb3));
	margin: 0%;
	font-family: Arial, Helvetica, sans-serif;
}

#divAddUser {
	display: none;
}

h1, h2 {
	text-align: center;	 
}

form {
	text-align: left;
}

input, select {
	width: 200px;
  	padding: 8px 10px;
  	margin: 8px 0;
  	display: inline-block;
  	border: 1px solid #ccc;
  	border-radius: 8px;
  	box-sizing: border-box;
}

table {
	margin-left: auto;
	margin-right: auto;
}

.table-data {
	border-collapse: collapse;
}

.table-data td, .table-data th {
  border: 1px solid #ddd;
  border-color: #003d66;
  padding: 8px;
  text-align: left;
}

.table-data th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #cc0000;
  color: white;
}

.submit {
	cursor: pointer;
	background-color: #cc0000;
  	border: none;
  	color: white;
  	padding: 8px 18px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 12px;
  	border-radius: 30px;
}

.menu {
  background-color: #003d66;
  overflow: hidden;
  color: #f2f2f2;
}

.menu-button {
  background-color: #cc0000;
  color: white;
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px; 
  font-size: 17px;
  cursor: pointer;
}

.menu-button:hover {
  background-color: #ff1a1a;
  color: white;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .account-button {
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  margin: 0;
  font-size: 17px;
}

.account-button {
  background-color: #1eae30;
  text-align: center;
  text-decoration: none;
  display: block;
}


.dropdown-content {	
  right: 0;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .account-button {
    background-color: #32e73c;
    color: white;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content a {
  background-color: #cc0000;
  color: white;
  float: right;
  display: block;
  text-decoration: none;
  padding: 14px 16px; 
  text-align: left;
  font-size: 17px;
  width: 100%;
}


.dropdown-menu a:hover {
  background-color: #ff1a1a;
  color: white;
}

.sort-header:hover {
	cursor: pointer;
}

#divFilter {
	margin-left: 25%;
	
}

.button-details, .button-unblock {
  background-color: #05a018;
  border: none;
  color: white;
  padding: 3px 7px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 100%;	
  pointer: cursor;
}

.button-block {
  background-color: #ff2222;
  border: none;
  color: white;
  padding: 3px 7px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 100%;	
  pointer: cursor;
}

.map {
	margin-left: auto;
	margin-right: auto;
    height: 300px;
    width: 400px;
 }