html {
	min-height: 100%;
}

body {
	/*background-color: blue;*/
	background: -webkit-gradient(linear, left top, left bottom, from(#99d6ff), to(#006bb3));
	margin: 0%;
}

#divAddUser {
	display: none;
}

h1 {
	text-align: center;	 
}

form {
	text-align: center;
}

input {
	border-radius: 10px;
}

table {
	margin-left: auto;
	margin-right: auto;
}

.table-data {
	border-collapse: collapse;
}

.table-data td, .table-data th {
  border: 1px solid #ddd;
  border-color: #003d66;
  padding: 8px;
}

.table-data th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #cc0000;
  color: white;
}

.submit {
	cursor: pointer;
	background-color: #cc0000;
  	border: none;
  	color: white;
  	padding: 8px 18px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 12px;
  	border-radius: 30px;
}

.meni {
  background-color: #003d66;
  overflow: hidden;
  color: #f2f2f2;
}

.meni-button {
  background-color: #cc0000;
  color: white;
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px; 
  font-size: 17px;
}


.meni-button:hover {
  background-color: #ff1a1a;
  color: white;
}

.logout-button {
  background-color: #1eae30;
  color: white;
  float: right;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px; 
  font-size: 17px;
}

.logout-button:hover {
  background-color: #32e73c;
  color: white;
}