html {
	height: 100%;
}

body {
	/*background-color: blue;*/
	background: -webkit-gradient(linear, left top, left bottom, from(#99d6ff), to(#006bb3));
	margin: 0%;
	min-height: 100%;
	position: relative;
}

h1 {
	text-align: center;	 
}

form {
	text-align: left;
}

input {
	border-radius: 10px;
}

table {
	margin-left: auto;
	margin-right: auto;
}

.submit {
	cursor: pointer;
	background-color: #cc0000;
  	border: none;
  	color: white;
  	padding: 8px 18px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 12px;
  	border-radius: 30px;
}

#divLogin {
	display: none;
	align-items: center;
}

.meni {
  background-color: #003d66;
  overflow: hidden;
  color: #f2f2f2;
}

#loginMenu {
  background-color: #cc0000;
  color: white;
  float: right;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px; 
  font-size: 17px;
}

#loginMenu:hover {
  background-color: #ff1a1a;
  color: white;
  cursor: pointer;
}

#divRegister{
	display: none;
	align-items: center;
}


#registerMenu {
  background-color: #1eae30;
  color: white;
  float: right;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px; 
  font-size: 17px;
}

#registerMenu:hover {
  background-color: #32e73c;
  color: white;
}



#divAllRestaurants{
	display: none;
	align-items: center;
}


#restaurantsMenu {
  background-color: #1eae30;
  color: white;
  float: right;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px; 
  font-size: 17px;
}

#restaurantsMenu:hover {
  background-color: #32e73c;
  color: white;
}

#divOpenSearchBox {
	text-align: center;
}

#divRestaurantDetails {
	text-align: center;
}

.button {
  background-color: #0298d0; 
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.buttonDetails {
  background-color: #028dc1;
  border: none;
  color: white;
  padding: 3px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;	
}

.tr-top {
  background-color: #02b0f2;
  font-size: 20px;	
  text-decoration: none;
}

.divSearchInfo {
  width: 50%;
  border: 3px light-blue;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

#openSearchBox {
  background-color: #0298d0;
  color: white;
  float: right;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px; 
  font-size: 17px;
}
footer {
  color: white;	
  background-color: #003d66;
  padding: 10px;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 20px;  
}
